<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzc.infrastructure.dao.IShopDao">

    <resultMap id="dataMap" type="com.gzc.infrastructure.dao.po.Shop">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="type_id" property="typeId"/>
        <result column="images" property="images"/>
        <result column="area" property="area"/>
        <result column="address" property="address"/>
        <result column="x" property="x"/>
        <result column="y" property="y"/>
        <result column="avg_price" property="avgPrice"/>
        <result column="sold" property="sold"/>
        <result column="comments" property="comments"/>
        <result column="score" property="score"/>
        <result column="open_hours" property="openHours"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="queryShopById" parameterType="java.lang.Long" resultMap="dataMap">
        select id, name, type_id,images,area,
            address,x,y,avg_price,sold,
            comments,score,open_hours
        from tb_shop
        where id = #{id}
    </select>

    <update id="updateShop" parameterType="com.gzc.infrastructure.dao.po.Shop">
        update tb_shop
        set name = #{name}, type_id = #{typeId}, images = #{images}, area = #{area}, address = #{address},
            x = #{x}, y = #{y}, avg_price = #{avgPrice}, sold = #{sold}, comments = #{comments},
            score = #{score}, open_hours = #{openHours}, update_time = now()
        where
            id = #{id}
    </update>



</mapper>
